#header {
    width: 100%;
    position:relative;
    background-color: #58D68D;
    padding-bottom: 12px;
    display: inline-block;
}
a {
    text-decoration: none;
}
label{
        display: block;
}
input {
    -webkit-appearance: checkbox;
}

/*

#myheader button{
    background-color: #58D68D;
}
#myheader button:hover{
    background-color: #FCF3CF; 
    cursor: hand;
    color: black;
    border: 2px solid black; 
    border-radius: 4px;
    padding: 4px;
}
button {
    background-color:  #FCF3CF; 
    color: black;
    border: 2px solid black; 
    -webkit-transition-duration: 0.4s; 
    border-radius: 4px;
    padding: 4px;

}

button:hover {
    cursor: pointer; 
    cursor: hand;
    color: black;
    border: 2px solid black; 
    background-color: #82E0AA;
    border-radius: 4px;
    padding: 4px;
}
*/
#content {
    display:block;
    font-family: "Georgia", sans-serif;
    background-color: #FCF3CF;
    padding: 0px;
    margin: 0px;
    vertical-align: baseline;
    position: relative;
}
