<h1 style="text-align:center; font-size:48px">
	Upcoming Activities for {{round.rt_name}}
	<br/> Current Server Time: {{ time }} <br/>
	<a href="{% url 'logrounds:detail' round.id %}" style="text-decoration:none">
	<button type="button"> Back </button>
	</a>
</h1>
{% load app_filters %}
{% for key,value in pd_lgdf.items  %}
<table style='width:100%';>
	<!-- keys are the period, values is the list of logdefs -->
	<caption style=" font-weight:bold; font-size:24pt;">
		Period Name: {{key}}
	</caption>
	<caption style="font-size:18pt">
		{% with curr_logset=curr_lgst_dict|lookup:key %}
		{{ curr_logset.start_time }} to {{ curr_logset.next_time }}
		<br/>Due Date: {{curr_logset.start_time|due:curr_logset.next_time}} currently doesn't check against DB (doesn't trigger missing status)
		<br/> <a href=""> <button> Enter LogSet Data </button></a>
		{% endwith %}
	</caption>
	<tr style="font-weight:bold">
		<th>Attribute Name</th>
		<th>Completed</th>
		<th>View Entry</th>
		<th>Create Entry</th>
		<th>Update Entry</th>
	</tr>
	{% for logdef in value %}
	<tr style="text-align:center">
		<td> {{logdef}} </td>
		<td> Not Coded Yet </td>
	</tr>
	{% endfor %}
</table>
<br/>
{% endfor %}