{% extends 'pages/main.html' %}
{% load staticfiles %}
{% block html_head %}
{{ page.html_head|safe }}
<link rel="stylesheet" type="text/css" href="{% static 'logrounds/generic.css' %}" />
<link rel="stylesheet" href="{% static 'pages/js/jqwidgets/styles/jqx.base.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'pages/js/jqwidgets/jqxcore.js' %}"></script>
<script type="text/javascript" src="{% static 'pages/js/jqwidgets/jqxtooltip.js' %}"</script>
<script type="text/javascript" src="{% static 'pages/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'logrounds/js/logdef_create_tooltips.js' %}"></script>
{% endblock %}
{% block html_body %}
{{ page.html_body|safe }}
<div id='header'>
    <h1> Current Round: {{round}} </h1>
    <h2> 
        Create Attributes that you wish operators 
        to log during a round. <br/>
    </h2>
</div>
<h2 style="color: red"> 
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</h2>
<form method="POST" role="form"> {% csrf_token %}
    {{ form.as_p }}
    <button id="submit" type="submit"> Submit </button> 
</form>
<p>
    <a href="{% url 'logrounds:detail' round.id %}" style="text-decoration: none">
    <button id='done'>Done</button> </a>
</p>
{% endblock %}