{% extends 'pages/main.html' %}
{% load staticfiles %}


{% block html_head %}
{{ page.html_head|safe }}
<link rel="stylesheet" type="text/css" href="{% static 'logrounds/generic.css' %}" />
{% endblock %}

{% block html_body %}
{{ page.html_body|safe }}
<div id='header'>
<h1> {{h1}} </h1>
<h2> Current Attribute: {{logdef}} </h2>
<h2> {{h2}} </h2>
<a href="{% url 'logrounds:activities' round_id %}"> 
<button> Back </button>
</a>
</div>
<form method="POST" role="form"> {% csrf_token %}
	{{ form.as_p }}
    <button type="submit"> Submit </button> 
</form> 
{% endblock %}




