{% extends 'pages/main.html' %}
{% load staticfiles %}
{% block html_head %}
{{ page.html_head|safe }}
<link rel="stylesheet" type="text/css" href="{% static 'logrounds/generic.css' %}" />
{% endblock %}
{% block html_body %}
{{ page.html_body|safe }}
<div id='header'>
    <h1> Welcome to Round Update, please fill out this form </h1>
</div>
<form method="POST" role="form"> {% csrf_token %}
    {{ form.as_p}}
    <button type="submit"> Submit </button>
</form>
<a href="{{request.META.HTTP_REFERER}}"> <button >Cancel</button></a>
{% endblock %}