{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'logrounds/generic.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'logrounds/round_detail.css' %}" />
<!-- ########################################################################## -->
<!-- ########################################################################## -->
<!-- ########################################################################## -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'logrounds/clock.js' %}"></script>

<div id='header'>
<div>
      <h1> {{ round.rt_name }} <br/>
         Server Time: <span id='universal'></span>	
      </h1>
      <a href="{% url 'logrounds:index' %}"> 
      <button>Back to Index </button>
      </a>
       <a href="{% url 'logrounds:update_round' round.id %}"> 
      <button type="button"> Edit </button>
      </a>
      <a href="{% url 'logrounds:remove_round' round.id %}"> 
      <button type="button" > Remove </button>
      </a>
      <br/>
      </div>
   <div class='container'>
      <h3> Round Details </h3>
      <table>
         <tr> 
            <td style='font-weight: bold;'> Description: </td>
            <td> {{round.rt_desc}} </td>
         </tr>
         <tr>
            <td style='font-weight: bold;'> Round Start Date: </td>
            <td> {{start_date}} </td>
         </tr>
      </table>
      
   </div>
  <div class='container'>
         <h3> Period Details</h3>
      <table>
      <tr>
            <td style='font-weight: bold;'> Name: </td>
            <td>{{ period.name }}</td>
         </tr>
         <tr>
            <td style='font-weight: bold;'> Periodicity: </td>
            <td>{{ period.scale }} {{ period.unit }}</td>
         </tr>
         <tr>
            <td style='font-weight: bold;'>Phase: </td>
            <td>
               <table>
                  <tr>
                     <td> Days:</td>
                     <td> {{period.phase_days}}
                  </tr>
                  <tr>
                     <td> Hours: </td>
                     <td> {{period.phase_hours}} </td>
                  </tr>
                  <tr>
                     <td> Minutes: </td>
                     <td> {{period.phase_min}} </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </div>

</div>


<div id='bod'>
   <div>
      <h2> Log Attributes </h2>
      {% if logdef_qs %}
      <ul>
         {% for logdef in logdef_qs %}
         <li>
            <a href="{% url 'logrounds:logdef_detail' logdef.id %}"> 
            {{ logdef.name }}
            </a>	
         </li>
         {% endfor %}
      </ul>
      {% else %}
      <p> No LogDefs </p>
      {% endif %}
      <ul>
      <a href="{% url 'logrounds:new_logdef' round.id %}"> 
      <button type="button"> Add New Attributes </button>
      </a></ul>
   </div>
   <div>
      <h2> Create and Enter a Set of Data </h2>
      <ul>
      <a href="{% url 'logrounds:activities' round.id %}"> 
      <button type="button"> Create New LogSet </button>
      </a></ul>
   </div>
   <div>
      <h2> View Recently Logged Data Sets </h2>
      {% if logset_qs %}
      <ul>
         {% for logset in logset_qs %}
         <li>
            {{ entry }}
            <!-- <a href="{% url 'logrounds:entry_detail' entry.id"> 
               {{ logdef.name }}
               </a> -->	
         </li>
         {% endfor %}
      </ul>
      {% else %}
      <ul> No Entries </ul>
      {% endif %}
   </div>
</div>